/vendor/
/node_modules/
/dist/
/build/

/.env
/.env.*

# Storage: ignore everything, keep placeholders
/storage/**
!/storage/.gitignore
!/storage/**/.gitignore
!/storage/.gitkeep
!/storage/**/.gitkeep

# IDE
/.idea/
/.vscode/

/db_data/

# Misc
*.log
*.tmp
*.swp
.DS_Store

